@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Varela+Round&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: visible;
}

body {
    background: #43C6AC;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #F8FFAE, #43C6AC);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #F8FFAE, #43C6AC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: rgb(0, 0, 0);
    font-family: 'Varela Round', sans-serif;
}

h1, h4 {
    font-family: 'Press Start 2P', cursive;
    overflow: visible;
}

#guess-classmate {
    color: white;
    text-shadow: 3px 3px black;
}

#studentImg {
    width: 300px;
    overflow: visible;
} 


.button-container button {
    width: 300px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    border-radius: 0;
    height: 40px;
}


@media only screen and (min-width: 679px) {
    #studentImg {
        width: 400px;
    }

    .button-container {
        width: 800px;
    }

    .btn-light:hover {
        background-color: black;
        color: white;
    }

    #guess-classmate {
        padding: 20px;
    }
}

@media only screen and (min-width: 992px) {
    #guess-classmate {
        padding: 30px;
    }

    #studentImg {
        width: 420px;
    }

    .button-container button {
        width: 320px;
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
        border-radius: 0;
        height: 50px;
    }
}