* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(31, 30, 30);
    color: rgb(255, 255, 255);
}

#studentImg {
    width: 300px;
} 

.button-container button {
    width: 300px;
}


@media only screen and (min-width: 768px) {
    #studentImg {
        width: auto;
    }
}